html, body, .footer {
  color: #ddd;
  background-color: #111;
  font-family: "Source Code Pro", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

a, a:visited {
  color: #00cc55;
}

a:hover, a:focus {
  color: #009C41;
}

p {
  margin-bottom: 20px;
}

li {
  line-height: 24px;
}

body>.navbar {
  font-size: 15px;
}

.navbar-inverse .nav>li>a {
  color: #cecece;
}

header.jumbotron {
  color: #00cc55;
  background: #444;
}

.footer p {
  border-top: 1px solid #444;
  padding: 10px;
  text-align: center;
}

section>.page-header {
  color: #949494;
}

.img-icon {
  width: 15px;
  height: 15px;
}

code {
  color: #00cc55;
  font-family: "Source Code Pro", Monaco, Consolas, monospace;
  font-size: 14px;
  background-color: #444;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 20px 0 20px 20px;
  border-left: 5px solid #eee;
}

.post-preview {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}