html, body, .footer {
  color: #ddd;
  background-color: #111;
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-size: 16px;
  text-align: justify;
}

body>.navbar {
  font-size: 15px;
}

.navbar-inverse .nav>li>a {
  color: #cecece;
}

header.jumbotron {
  color: #00cc55;
  background: #444;
}

.footer p {
  border-top: 1px solid #444;
  padding: 10px;
  text-align: center;
}

section>.page-header {
  color: #949494;
}

.img-icon {
  width: 15px;
  height: 15px;
}

code {
  color: #00cc55;
  background-color: #444;
}