<!DOCTYPE html>
<html lang="en">
  <head>
{% include head.html %}
  </head>

  <body>
    <div class="container">

{% include navbar.html %}

      <div class="container">
        <div class="row">
          <div class="col-lg-10"> <!-- Main Content Below -->
            {{ content }}
          </div> <!-- Main Content Above -->
          <div class="col-lg-2">
{% include contact_bar.html %}
          </div>
        </div>
      </div> <!-- Main Container -->

      <div class="footer">
        <p>Published with <a href="http://pages.github.com/">GitHub Pages</a></p>
      </div> <!-- Page Footer -->

      <!-- Load Scripts Last -->
      <script src="http://code.jquery.com/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
