<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include head.html %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/main.min.css">

    <!-- Common Scripts -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">

{% include navbar.html %}

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1"> <!-- Main Content Below -->
            {{ content }}
          </div> <!-- Main Content Above -->
          <div class="col-md-2">
{% include contact_bar.html %}
          </div>
        </div>
      </div> <!-- Main Container -->

      <div class="footer">
        <p>Published with <a href="http://pages.github.com/">GitHub Pages</a></p>
      </div> <!-- Page Footer -->

      <!-- Load Bootstrap Last (Better loading speeds) -->
      <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
